<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body}, 'owners')}">
<head>
  <meta charset="UTF-8">
  <title>Pet Clinic - Owners</title>
</head>
<body>

<h1 th:text="'Pet Clinic - Owners'">Owners Listing</h1>

  <table class="table table-striped">
    <thead>
      <tr>
        <th style="width: 50px">Id</th>
        <th style="width: 100px">First Name</th>
        <th style="width: 100px">Last Name</th>
      </tr>
    </thead>
    <tbody>
    <tr th:each="owner: ${owners}" class="ownerRow" th:attr="data-id=${owner.id}">
      <td th:text="${owner.id}"></td>
        <td th:text="${owner?.firstName}"></td>
        <td th:text="${owner?.lastName}"></td>
      </tr>
    </tbody>
  </table>

<script type="text/javascript">
    $(".ownerRow").click(function () {
        var id = $(this).attr("data-id");
        location.href = "/owners/" + id;
    });
</script>

</body>
</html>